

.fade-in-top{
    animation: frames-fade-in-top 1s;
}

@keyframes frames-fade-in-top {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
    }
}

.zoom-in{
    animation: frames-zoom-in 0.5s;
}

@keyframes frames-zoom-in {
    from {
        transform: scale(0);
    }
    to {
    }
}