
.dont-selected-text{
  cursor: pointer;
  user-select: none;
}

.selected-text{
  user-select: none;
  color: #FFC500;
}

.dont-selected-text:hover{
  color: #FFC500;
}


.hide123{
  display: none;
}

.appBody{
  background: #F8F8F8;
  min-height: calc(100vh - 450px);
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 100px solid #FFC501;
  border-color: #FFC501 transparent #FFC501 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.lds-div{
  background: #1C1B20;
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row1{
  display: inline-block;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 20px;
}